*.ipynb
agent_part/simplyfied_env_test/trajs
*.idea
.idea/
.idea
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Overcooked-cooker.iml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
agent_part/simplyfied_env_test/.idea/inspectionProfiles/profiles_settings.xml
agent_part/simplyfied_env_test/.idea/inspectionProfiles/Project_Default.xml
agent_part/simplyfied_env_test/.idea/misc.xml
agent_part/simplyfied_env_test/.idea/modules.xml
agent_part/simplyfied_env_test/.idea/simplyfied_env_test.iml
agent_part/simplyfied_env_test/.idea/vcs.xml
*.pyc
agent_part/simplyfied_env_test/models/*
agent_part/simplyfied_env_test/models/ppo/*